---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Technology"
  styles="bg-technology-sm md:bg-technology-md lg:bg-technology-lg"
>
  <div
    class="main-section px-6 lg:px-[10.3125rem] pb-[20%] md:pb-[15%] mt-auto lg:pb-[5%] flex min-h-[80vh] lg:max-h-screen lg:overflow-hidden items-center lg:items-end text-center lg:text-left justify-between flex-col lg:flex-row"
  >
    hello
  </div>
</Layout>
