---
import Header from '../components/Header.astro';
import { classNames } from '../js/utils';
import '../styles/base.css';
export interface Props {
  title: string;
  styles: string;
}

const { title, styles } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon-32x32.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Space Tourism</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div
      class={classNames(
        styles,
        'min-h-screen bg-fixed bg-no-repeat bg-cover flex flex-col'
      )}
    >
      <Header active={title.toLowerCase()} />
      <slot />
    </div>
  </body>
</html>
